@use "./variables" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 80%;
    max-width: 700px;
    
    &__title {
        font-weight: $font-bold;
        font-size: 48px;
        color: $foreground-color;
        &--hidden {
            display: none;
        }
    }
    &__description {
        font-weight: $font-regular;
        font-size: 28px;
        color: $foreground-color;
        text-align: center;
    }
    &__reset {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        background-color: #ffffff00;
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
        border: none;

        &--hidden {
            display: none;
        }

        &:hover {
            background-color: #540c7b79;
        }
    }

}

// mobile layout
@media screen and (max-width:500px) {
    .header {
        &__title {
            display: none;
        }
        &__description {
            order: 2;
            margin: .8rem;
            font-size: 24px;
        }
        &__reset {
            margin-top: 2rem;
            position: relative;
            bottom: 0;
            right: 0;
            order: 1;
        }
    }
}